@import "tailwindcss";

html {
    width: 100%;
    height: 100%;
    --line-color: var(--line-color);
    --line-color: #E5E7EB;
}

html.dark {
    --line-color: rgba(255, 255, 255, 0.2);
}

body {
    width: 100%;
}

* {
    user-select: none;
    /* 1 */
    pointer-events: auto;
    /* 2 */
    -webkit-tap-highlight-color: #0000;
    /* 1 */
    -webkit-user-select: none;
    /* 1 */
    -ms-user-select: none;
    /* 1 */
    -webkit-user-drag: none;
    /* 2 */
    -moz-user-drag: none;
    /* 2 */
}

:root {
    --xamarth: #f1f1f1;
}

.dark {
    --xamarth: #101828;
}

.light {
    --xamarth: #F1F1F1;
}

::-webkit-scrollbar {
    display: none;
}
