@import "tailwindcss";

html {
    width: 100%;
    height: 100%;
    --line-color: var(--line-color);
    --line-color: #E5E7EB;
}

html.dark {
    --line-color: rgba(255, 255, 255, 0.2);
}

body {
    width: 100%;
}

* {
    user-select: none;
    /* 1 */
    pointer-events: auto;
    /* 2 */
    -webkit-tap-highlight-color: #0000;
    /* 1 */
    -webkit-user-select: none;
    /* 1 */
    -ms-user-select: none;
    /* 1 */
    -webkit-user-drag: none;
    /* 2 */
    -moz-user-drag: none;
    /* 2 */
}

:root,
.dark {
    --fullBg: #101828;
    --themeIcon: #f1f1f1;
    --introBlur1: #946263;
    --introBlur2: #676394;
    --moonSun: #f1f1f1;
    /* --fullBg: #101619; */
    --temp: #f1f1f1;
}

.light {
    --fullBg: #F1F1F1;
    /* --fullBg: #101619; */
    --themeIcon: #000000;
    --introBlur1: #fdb4c7;
    --introBlur2: #bbd1fe;
    --moonSun: #010101;
    --temp: #f1f1f1;
}

::-webkit-scrollbar {
    display: none;
}
